.api-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.docs-button {
    position: absolute;
    top: 12px;
    right: 12px;
}

.import-button {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 16px;
}

.api-button{
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}