.filter-container {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: auto;
}


.filter-section {
  padding: 12px 0;
  border-top: 1px solid #e0e0e0;
}
.filter-section:first-of-type {
  border-top: none;
  padding-top: 0;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}
.search-publisher {
    width: 100%;
    margin-bottom: 5px;
}
.publisher-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.publisher-item{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.ignore-checkboxes{
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.slider-wrapper { 
    margin-bottom: 24px; 
}


.slider-values {
    display: flex; justify-content: space-between; color: #fff; font-size: 13px; margin-top: 4px; 
}

.apply-filters-button {
  width: 100%;
  padding: 12px;
  margin-top: 24px;
  background: #b983ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.apply-filters-button:hover {
  background: #9d6fd8;
  transform: translateY(-2px);
  
}

.apply-filters-button:active {
  transform: translateY(0);
}

.date-range-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 12px;
}

.date-input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.date-input-group label {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.date-input {
  padding: 8px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: white;
  font-size: 14px;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.date-input:focus {
  outline: none;
  border-color: cyan;
  box-shadow: 0 0 8px rgba(0, 212, 255, 0.3);
}

.show-more-less-btn {
  padding: 8px 12px 8px 12px;
  margin-top: 24px;
  background: #b983ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.select-all-btn{
  padding: 4px 8px 4px 8px;
  background: #6f42c1;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}