.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first,
.last {
  width: clamp(200px, 20vw, 400px);
  display: flex;
  justify-content: center;
}

.middle {
  width: clamp(200px, 55vw, 500px);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.375rem;
  margin-block: 1rem;
}

.nav > div {
  background-color: red;
}

.path_history {
  font-size: 1.25rem;
}
