.search-results-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}



.search-results {
  width: 67%;
  padding: 5px;
  animation: fadeIn 0.3s ease-in;
}

.sort-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 0.9rem;
  margin-left: 10px;
}

#sort-select {
  background-color: #2c2c2c;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.search-result-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 16px;
}

/* Opciono: fade-in za svaki card */
.search-result-grid > * {
  animation: fadeIn 0.5s ease-in;
}

.title-and-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .search-results-container {
    flex-direction: column;
  }

  .filter-container {
    width: 100%;
  }

  .search-results {
    width: 100%;
  }

  .search-result-grid {
    grid-template-columns: 1fr;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}