:root {
  --background: #121212;
  --surface: #1e1e1e;
  --primary: #bb86fc;
  --secondary: #03dac6;
  --text-light: #ffffff;
  --text-dark: #b3b3b3;
  --error: #d62828;
  --warning: #ffb703;
  --correct: #2a9d8f;
}
