:root {
  --background: #121212;
  --surface: #1e1e1e;
  --text-box: #707070;
  --primary: #8422fa;
  --secondary: #0efbe4;
  --text-light: #ffffff;
  --text-dark: #272727;
  --error: #c22525;
  --warning: #ffb703;
  --correct: #2a9d5c;
  --stats: #ff8042;
}
