html, body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
}

#root{
  min-height: 100%;
  padding: 24px;
  background-color: #121212;
  display: flex;
  justify-content: center;
  margin: 0px;
  color: white;
  font-family: Arial, sans-serif;
}

.dataset-title{
  font-size: 2rem;
  margin-bottom: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: underline;

}
.dataset-url{
    color: #ffffff;
    text-align: center;
    margin-top: 4px;
    text-decoration: underline;
}

.pregled-komentara-lable{
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 16px;
  
}

.analysis-card{
  background-color: #2C2C2C;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative;

}

.user-info{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    top: 16px;
    left: 16px;
    font-size: 1.2rem;
    color: #BBBBBB;
}


/* ----------- AI/normal Selector Styles ----------- */

.AI-normal-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    width: fit-content;
    margin: 5px auto;
    scale: 0.7;
}

.selector-btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.selector-btn svg {
  color: #000;
  transition: color 0.2s ease;
}

.selector-btn.active-AISearch {
  background-color: #BB86FC;
}


.selector-btn.active-normalSearch {
  background-color: #6be0d7;
}

.selector-btn.active-AISearch svg {
  color: #fff;
}
.selector-btn.active-normalSearch svg {
  color: #fff;
}


/* ------------------------------------------- */

/* ----------- Comments Styles ----------- */
.commentIndex{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.comments-flex{
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.comment-bubble-space{
    
    width: 100%;
}


/* ----------- Main Container Styles ----------- */
.main-container{
  width: 88%;
  height: 100%;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding:16px;
  margin: 16px;
}



.search{
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  
}

.search-input{
  width: 40vw;
  color: white;
  height: 28px;;
  border: none;
  padding: 2px;
  padding-left: 12px;
  font-size: 16px;
  background-color: #BB86FC;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-input:focus{
  outline: none;
  border: none;
}


.search-button{
  height: 32px;
  padding: 0 10px;
  border: none;
  background-color: #BB86FC;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-home-profile-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 32px;
  padding: 0px;
}

/* ----------- Home/Profile Selector Styles ----------- */

.home-profile-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px;
  width: fit-content;
  margin: 5px auto;
  scale: 0.7;
}

.selector-btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.selector-btn svg {
  color: #000;
  transition: color 0.2s ease;
}

.selector-btn.active-home {
  background-color: #BB86FC;
}


.selector-btn.active-profile {
  background-color: #6be0d7;
}

.selector-btn.active-home svg {
  color: #fff;
}
.selector-btn.active-profile svg {
  color: #fff;
}

.sve-analize-skupa-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 16px 28px 16px 16px;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  gap: 12px;
}

.odobrena-basic-analiza{
  background-color: rgb(105, 206, 140);
}
.neodobrena-basic-analiza{
  background-color: rgb(210, 78, 78);
}

.basic-analiza{
  width: 100%;
  display: flex;
  padding-left: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.basic-analiza:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.basic-analiza:hover{
  cursor: pointer;
}

.ime-skupa{
  color:rgb(187, 187, 187);
}

.rest-of-basic-info{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.main-container-analize{
  width: 88%;
  height: 100%;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding:16px;
  margin: 16px;

}

.main-container-analize hr{
  width: 100%;
}

.kategorija-1{
  background-color: rgb(52, 52, 52);
 border-radius: 5px;
 padding: 6px;
}

.kategorija-2{
 background-color: rgb(48, 48, 48);
 border-radius: 5px;
 padding: 8px;
}

.analiza-opis-div{
  width: 50%;
}
.analiza-kljucne-div{
  width:50%;
}
.analiza-all-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.analiza-opis-kljucne-div{
  height: 100%;
}
.analiza-ostalo-div{
  height: 100%;
  background-color: #373737;
  padding: 2px 16px 2px 16px;
  border-radius: 10px;
}